.app {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  justify-content: center;
}

.total-income span {
  font-weight: 700;
}

.band-select {
  border: none;
  border-radius: 40px;
  background-color: #d9d9d9;
  padding: 15px 50px;
  font-size: 120%;
  width: 70vw;
  height: 8vh;
  cursor: pointer;
  text-align: center;
}

button {
  border: none;
  border-radius: 40px;
  background-color: #d9d9d9;
  width: 70vw;
  height: 8vh;
  font-size: 120%;
  cursor: pointer;
}

.active {
  background-color: #C3E9E9
}